<% content_for :title, "Chats" %>

<h1 class="text-center py-5">
	Chats
	<% if current_user.admin? %>
	  <%= link_to "New chat", new_chat_path, class: 'btn-success' %>
	<% else %>
	  <%= link_to "Enroll a new chat", public_chats_path, class: 'btn-success' %>
	<% end %>
</h1>

<div class="">
	<% if @chats.count.nonzero? %>
	  <div id="chats" class="grid grid-cols-1 sm:grid-cols-3 grid-flow-row gap-5 justify-center sm:justify-between">
		  <% @chats.each do |chat| %>
		    <div class="text-center sm:text-left mb-5 sm:mx-5 shadow sm:mr-5 hover:shadow-2xl hover:cursor-pointer">
		    <%= link_to chat do %>
		    	<div>
		    		<%= render 'preview', chat: chat %>
		    	</div>
		    <% end %>
		    </div>  
		  <% end %>
	  </div>
	<% end %>
</div>

